* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(200deg, rgb(3, 254, 179), rgb(51, 0, 128));
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

.App {
  padding: 40px 70px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 400px;
  max-width: 600px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(12px);
  color: #fff;
  border-radius: 12px;
  border: 3px solid transparent;
  box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.3);
  transition: all 0.9s ease;
}

.App:hover {
  box-shadow: none;
  border: 3px dashed rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

header {
  padding: 6px 9px;
  margin-bottom: 20px;
  text-align: center;
  border-bottom: 2px solid rgb(3, 248, 203);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 30vh;
  width: 400px;
  margin-bottom: 10px;
  background: rgba(255, 255, 255, 0.1);
  background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.1) 2px,
      transparent 2px
    ),
    linear-gradient(to top, rgba(255, 255, 255, 0.1) 2px, transparent 2px);
  background-position: center;
  background-size: 20px 20px;
  padding: 20px 35px;
  border-radius: 3px;
}

main ul {
  list-style-type: none;
  width: 410px;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 6px 0;
  font-size: 1.2rem;
}

.item:first-child {
  margin: 0;
}

.item input[type="checkbox"] {
  width: 48px;
  cursor: pointer;
  height: 1.1rem;
}

.item input[type="checkbox"]:focus + label {
  text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.2);
  letter-spacing: 1px;
  font-weight: 900;
}

.item > label {
  font-size: 1.2rem;
}

.item svg {
  width: 48px;
  min-width: 48px;
  height: 22px;
  font-size: 1rem;
  color: #03f8cb83;
  cursor: pointer;
}

.item svg:focus,
.item svg:hover {
  color: #fa51ab5e;
  outline: none;
}

.addForm {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 12px;
}

.addForm label {
  position: absolute;
  left: -1000px;
}

.addForm input[type="text"] {
  flex-grow: 1;
  max-width: calc(100% - 50px);
  min-height: 48px;
  font-size: 1rem;
  outline: none;
  border: none;
  border-radius: 2px;
  background: rgba(255, 255, 255, 0.2);
  padding: 12px 20px;
  /* color: rgb(235, 27, 138); */
  color: rgb(76, 76, 147);
  text-shadow: 2px 1px 1px rgba(255, 255, 200, 0.2);
  font-size: 1.2rem;
  font-weight: 700;
}

.addForm button:hover {
  color: #fa51abb2;
}

.searchForm {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 12px;
}

.searchForm label {
  position: absolute;
  left: -1000px;
}

.searchForm input[type="text"] {
  flex-grow: 1;
  max-width: 100%;
  min-height: 48px;
  font-size: 1rem;
  outline: none;
  border: none;
  border-radius: 2px;
  background: rgba(255, 255, 255, 0.2);
  padding: 12px 20px;
  color: #fff;
  text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.2);
  font-size: 1.2rem;
  font-weight: 700;
}

.searchForm input::placeholder {
  color: #fff;
  text-shadow: none;
}

.addForm button {
  height: 48px;
  min-width: 48px;
  border-radius: 2px;
  padding: 12px;
  font-size: 1rem;
  border: none;
  margin-left: 3px;
  background: rgba(255, 255, 255, 0.2);
  color: rgba(46, 16, 167, 0.615);
}
